html {
  font-size: 14px;
}

body {
  font-family: Arial, sans-serif; /* Substitua pelo nome da fonte desejada */
  font-weight: normal;
  background: #f4f4f4; /* Cor de fundo da superfície */
  color: #333333; /* Cor do texto */
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: #ffffff; /* Cor do fundo do card */
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
